<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Baloo+2&display=swap" rel="stylesheet">
    <!-- Materialize icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css" />

    <title>Forget Me Note</title>
</head>

<body>
    <header>
        <ul class="nav">
            <li><a href="#">Home</a></li>
            <li><a href="#features">Features</a></li>
            <li class=><a href="/todos"><em>To do's</em></a></li>
            
        </ul>
    </header>

    <section class="title">
        <h1 class="logo">Forget Me No<img src="https://www.flaticon.com/svg/static/icons/svg/3094/3094179.svg"
                alt="pencil" class='pencil-icon'>e</h1>
    </section>


    <div class="container">
        <section class="jazzy-lingo">
            <h3>Finding a simple to do app <img class="icon"
                    src="https://www.flaticon.com/svg/static/icons/svg/2833/2833509.svg" alt="todo list icon"></h3>
        </section>

        <section class="img1">
            <!-- <img src="https://image.freepik.com/free-vector/people-making-list-illustration_53876-66076.jpg"> -->
            <!-- <img src="../public/css/images/task.png" alt=""> -->
            <img
                src="https://i1.wp.com/freeillustrations.xyz/wp-content/uploads/2020/11/oi-oi-illustrations@4x.png?w=600&ssl=1">

        </section>
    </div>

    <div class="features-container">
        <section class="features-copy">
            <h3>
                <ul class='features-list'>
                    <li><img class="icon" src="https://www.flaticon.com/svg/static/icons/svg/1187/1187525.svg"
                    alt="todo list icon"></li>
                    <li>Create</li>
                    <li>Edit</li>
                    <li>Delete</li>
                    <li>Priortize</li>
                </ul>
            </h3>
        </section>

        <section id="features" class="features-img">
            <!-- <img src="https://image.freepik.com/free-vector/reading-list-concept-illustration_114360-1005.jpg"> -->
            <!-- <img src="https://i1.wp.com/freeillustrations.xyz/wp-content/uploads/2020/11/oi-oi-illustrations@4x.png?w=1600&ssl=1"> -->
            <img src="https://cdn.dribbble.com/users/1731254/screenshots/11403376/media/f2f370c2b2a1656ec997a4cf883684fd.png?"
                alt="">
        </section>
    </div>

    <section class="cta">
        <h1>Try Forget Me Note Today</h1>
        <p>Easy to get started, hard to forget</p>
        <button class="cta-link"><a href="/todos">Get Started</a></button>
    </section>

    <footer>
        <a href="https://github.com/conor-gaughan" target="_blank"><i class="fab fa-github-square fa-3x"></i></a>
        <!-- <a href="/new">CONTACT</a> -->
        <a href="https://www.linkedin.com/in/conorgaughan/" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a>
    </footer>

</body>

</html>