<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Me Note</title>
</head>
<body>
    <h1>Forget Me Note</h1>
    <h3>Finding a simple todo app, to-done</h3>
    <a href="/todos">Make a todo dog!</a>
</body>
</html>