<%- include('../partials/header') %>

<section>
<form action="/todos" method="post">
    <label for="title">Add Task</label>
    <input type="text" name="title" id="">
    <button type="submit">Enter Task</button>
</form>
</section>
<section>
<ul>
<% todos.forEach(todo => { %>
    <li><%= todo.title %></li>
    <a href="/todos/<%= todo._id %>">Details</a>
<% }) %>
</ul>

</section>
<a href="/">back home</a>

