<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <label for="description">Description</label>
    <input type="text" name="description" id="">
    <label for="date">Date</label>
    <input type="datetime-local" name="date" id="">
    <button type="submit">Add Task</button>
</body>
</html>