<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <!-- Materialize icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous" />

    <link rel="stylesheet" href="/css/style.css" />

    <title>Document</title>
</head>

<body>
    <header>
        <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/#features">Features</a></li>
            <li class=><a href="/todos"><em>To do's</em></a></li>
        </ul>
    </header>
    <section class="details-container">
        <!-- <h2>Edit Title</h2> -->
        <ul class="details-list">
            <li>Title: <%=todo.title%></li>
            <li><a href="/todos/<%= todo._id %>/edit"><button class="show-button">Edit  <img src="https://www.flaticon.com/svg/static/icons/svg/3094/3094179.svg"></button></a></li>
        </ul>
    </section>

    <section class="priority">
        <p>Select Label</p>


        <!-- <label for="priority">Label</label> -->
        <form class="label-form" action="/todos/<%= todo._id %>" method="POST">
            <select name="tag" id="cars">
                <option value="Priority">Priority</option>
                <option value="In Progress">In Progress</option>
                <option value="Done">Done</option>
            </select>
            <button type="submit" class="show-button">Add Tag</button>
        </form>

        <% todo.tags.forEach(function(element) { %>
        <h3>Label: <%= element.tag %></h3>
        <% }) %>
        <a class='link' href="/todos">Add a new to-do!</a>
    </section>
    

</body>

</html>