<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Details</h2>
    <ul>
        <li><%=todo.title%></li>
    </ul>
</body>
<a href="/todos/<%= todo._id %>/edit"><button>Edit</button></a>
<a href="/todos">Back to todos</a>
<a href="/">Back home</a>
</html>